<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../assets/wilted-logo-white.png">
    <link rel="stylesheet" href="../styles/about.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" integrity="sha384-3AB7yXWz4OeoZcPbieVW64vVXEwADiYyAEhwilzWsLw+9FgqpyjjStpPnpBO8o8S" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Wilted</title>
</head>
<body>
    <header id="main-header">
        <a href="./index.html"><img class="logo" src="../assets/wilted-single-logo.png" alt="logo"></a>
        <nav class="nav__menu">
            <ul class="nav__links">
                <li><a href="./index.html">Home</a></li>
                <li><a href="#">Store</a></li>
                <li><a href="./about.html">About</a></li>
            </ul>
        </nav>
    </header>
    <section id="main-about">
        <h2 class="intro-tittle">Meet the team</h2>
        <div class="intro-content">
            <p>
                The <b>Wilted</b> team comprises three sophomore students, two from the University de Guanajuato:
                Miguel Ángel Mireles Vázquez & Alan Sadot Rivera Calderon, and another one from the Instituto Tecnológico de estudios Superiores de 
                Monterrey: Ines Alejandro García Mosqueda.
            </p>
        </div>
    </section>

    <section id="people-cards">
        <div class="card">
            <div class="card-image">
                <img src="../assets/wilted-logo-white.png" alt="">
            </div>
            <h2>Miguel Ángel Mireles Vázquez</h2>
            <p>Mechatronics Engineer</p>
            <ul class="social-media-cards">
                <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                <li><a href="#"><i class="fab fa-github"></i></a></li>
                <li><a href="#"><i class="fab fa-linkedin-square"></i></a></li>
            </ul>
        </div>
        <div class="card">
            <div class="card-image">
                <img src="../assets/wilted-logo-white.png" alt="">
            </div>
            <h2>Ines Alejandro García Mosqueda</h2>
            <p>no me acuerdo Engineer</p>
            <ul class="social-media-cards">
                <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                <li><a href="#"><i class="fab fa-github"></i></a></li>
                <li><a href="#"><i class="fab fa-linkedin-square"></i></a></li>
            </ul>
        </div>
        <div class="card">
            <div class="card-image">
                <img src="../assets/wilted-logo-white.png" alt="">
            </div>
            <h2>Alan Sadot Rivera Calderon</h2>
            <p>Mechatronics Engineer</p>
            <ul class="social-media-cards">
                <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                <li><a href="#"><i class="fab fa-github"></i></a></li>
                <li><a href="#"><i class="fab fa-linkedin-square"></i></a></li>
            </ul>
        </div>
    </section>

    <footer>
        <div class="footer-content">
            <a href="./index.html"><img class="logo-footer" src="../assets/wilted-logo-white.png" alt="logo"></a>
            <p>texto texto texto texto texto texto texto</p>
            <ul class="social-media">
                <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                <li><a href="#"><i class="fab fa-github"></i></a></li>
                <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                <li><a href="#"><i class="fab fa-linkedin-square"></i></a></li>
            </ul>   
        </div>
        <div class="footer-bottom">
            <p>copyright &copy;2020 Wilted. desinged with ❤️ by <span>MAMV3x3</span></p>
        </div>
    </footer>
</body>
</html>