<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/index_desck.css">
    <title>Wilted</title>
</head>
<body>
    <header id="main-header">
        <nav>
            <ul>
                <a class="header__itemFilter" href="">H</a>
                <a class="header__itemFilter" href="">M</a>
                <a class="header__itemFilter" href="">N</a>
                <a class="header__itemFilter" href="">A</a>
            </ul>
        </nav>
    </header>
    <main>
        <section></section>
        <section></section>
        <section></section>
        <footer>
            <nav>
                <ul>
                    <li>Instagram</li>
                    <li>Facebook</li>
                    <li>Otro</li>
                </ul>
            </nav>
        </footer>
    </main>
</body>
</html>