@import url('https://fonts.googleapis.com/css2?family=Lexend+Mega:wght@500;700&family=Saira+Condensed:wght@100;300;500;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --lighGray: #CECECE;
    --lg: 22px;
    --md: 20px;
    --sm: 18px;
}

body{
    background-color: var(--lighGray);
    height: auto;
}

li, a, button{
    font-family: 'Saira Condensed', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: black;
    text-decoration: none;
}

#main-header{
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5%;
}

.logo{
    width: 160px;
    height: 55px;
    cursor: pointer;
}

.logo-footer{
    width: 180px;
    height: 100px;
    cursor: pointer;
}

.nav__links{
    list-style: none;
}

.nav__links li{
    display: inline-block;
    padding: 0px 20px;
}

.nav__links li a{
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover{
    color: #A0A1A0;
}

#main-about{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    height: auto;
    padding: 10px;
    margin: auto;
}

.intro-tittle{
    font-family: 'Lexend Mega', sans-serif;
    font-weight: 800;
    font-size: 32px;
    margin: 20px;
    text-align: center;
}

.intro-content{
    display: flex;
    padding: 20px 40px 10px 40px;
}

.intro-content p{
    font-family: 'Saira Condensed', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-align: center;
}

#people-cards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px;
}

.card{
    background: #fff;
    width: 280px;
    height: auto;
    margin: 10px;
    border-radius: 20px;
    text-align: center;
    transition: all 0.5s ease 0s;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.card-image{
    background-color: #171717;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    padding: 3px;
    justify-content: center;
}

.card-image img{
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 3px solid #fff;
}

.social-media-cards{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 1rem 0;
}

.social-media-cards li{
    margin: 0 10px;
}

.social-media-cards a{
    text-decoration: none;
    color: #000;
}

.social-media-cards a i{
    font-size: 1.1rem;
}

.social-media-cards a:hover i{
    color: var(--lighGray);
}

.card h2{
    font-family: 'Saira Condensed', sans-serif;
    font-weight: 300;
    font-size: 25px;
    padding: 20px;
}

.card p{
    font-family: 'Saira Condensed', sans-serif;
    font-weight: 100;
    font-size: 20px;
    padding: 10px;
}

.card:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

footer{
    background: #111;
    height: auto;
    width: 100%;
    font-family: 'Saira Condensed', sans-serif;
    padding-top: 40px;
    color: #fff;
    margin-top: 10px;
}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3{
    font-size: 1.8rem;
    font-weight: 300;
    text-transform: capitalize;
    line-height: 3rem;
}

.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}

.social-media{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.social-media li{
    margin: 0 10px;
}

.social-media a{
    text-decoration: none;
    color: #fff;
}

.social-media a i{
    font-size: 1.1rem;
}

.social-media a:hover i{
    color: var(--lighGray);
}

.footer-bottom{
    background: #000;
    width: 100%;
    padding: 20px 0;
    text-align: center;
    font-weight: 100;
}

.footer-bottom{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize ;
}

.footer-bottom span{
    text-transform: uppercase;
    opacity: 0.4;
}

@media (max-width: 768px){
    body{
        height: auto;
    }

    #main-header{
        background-color: rgb(255, 255, 255);
        flex-direction: column;
        padding: 20px 5%;
    }
    
    .logo{
        width: 110px;
        height: 40px;
        cursor: pointer;
    }

    .nav__menu{
        margin-top: 15px;
    }

    .card{
        background: #fff;
        width: 230px;
        height: auto;
        margin: 10px;
        border-radius: 20px;
        text-align: center;
        transition: all 0.5s ease 0s;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }
    
    .card-image{
        background-color: #171717;
        height: 200px;
        width: 200px;
        border-radius: 50%;
        padding: 3px;
        justify-content: center;
    }
    
    .card-image img{
        object-fit: cover;
        height: 100%;
        width: 100%;
        border-radius: 50%;
        border: 3px solid #fff;
    }

    .card h2{
        font-family: 'Saira Condensed', sans-serif;
        font-weight: 300;
        font-size: 20px;
        padding: 20px;
    }
    
    .card p{
        font-family: 'Saira Condensed', sans-serif;
        font-weight: 100;
        font-size: 15px;
        padding: 10px;
    }

    .card:hover{
        transform: translateY(-5px);
        box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
    }
}

