@import url('https://fonts.googleapis.com/css2?family=Lexend+Mega:wght@500;700&family=Saira+Condensed:wght@100;300;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --lighGray: #e6e6e6;
    --lg: 22px;
    --md: 20px;
    --sm: 18px;
}

body{
    background-color: var(--lighGray);
    height: auto;
}

li, a, button{
    font-family: 'Saira Condensed', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: black;
    text-decoration: none;
}

#main-header{
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5%;
}

.logo{
    width: 160px;
    height: 55px;
    cursor: pointer;
}

.logo-footer{
    width: 180px;
    height: 90px;
    cursor: pointer;
}

.nav__links{
    list-style: none;
}

.nav__links li{
    display: inline-block;
    padding: 0px 20px;
}

.nav__links li a{
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover{
    color: #A0A1A0;
}

.nav-toggle{
    color: #000;
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 60px;

    display: none;
}

#main-about{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.intro-tittle{
    font-family: 'Work Sans', sans-serif;
    font-weight: 800;
    font-size: 40px;
    margin: 20px;
}

.intro-content{
    display: flex;
    padding: 5px 31px 20px 40px;
    text-align: center;
}

.intro-content p{
    font-family: 'Saira Condensed', sans-serif;
    font-weight: 300;
    font-size: 27px;
}

.cart{
    position: fixed;
    top: 0;
    right: -100%;
    width: 380px;
    min-height: 100vh;
    padding: 20px;
    background: rgb(255, 255, 255);
    box-shadow: -2px 0 4px hsl(0 4% 15% / 10%);
    z-index: 1;
    transition: 0.3s;
}

#cart-icon{
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

#cart-icon:hover{
    cursor: pointer;
    color: #A0A1A0;
}

.cart.active{
    right: 0;
}

.cart-title{
    font-family: 'Work Sans', sans-serif;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 800;
    color: #222;
}

.cart-box{
    display: grid;
    grid-template-columns: 32% 50% 10%;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}

.cart-img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    padding: 10px;
}

.detail-box{
    display: grid;
    row-gap: 0.5rem;
}

.cart-product-title{
    font-size: 1.1rem;
    text-transform: uppercase;
    color: #222;
    font-weight: 300;
}

.cart-price{
    font-weight: 500;
    font-size: 1.1rem;    
    color: #222;
}

.cart-quantity{
    border: 1px solid #222;
    outline-color: #D2042D;
    width: 2.5rem;
    text-align: center;
    font-weight: 500;
    font-size: 1rem;
    font-family: 'Saira Condensed', sans-serif;
}

.fa-trash{
    font-size: 24px;
    color: #D2042D;
    cursor: pointer;
}

.total{
    display: flex;
    justify-content: flex-end;
    margin-top: 1.5rem;
    border-top: 1px solid #222;
}

.total-title{
    font-size: 1.1rem;
    font-weight: 800;
}

.total-price{
    margin-left: 0.5rem;
    font-size: 1.1rem;
    font-weight: 500;
}

.buy-btn{
    display: flex;
    margin: 1.5rem auto 0 auto;
    padding: 12px 20px;
    border: none;
    background: #D2042D;
    color: #fff;
    font-size: 1.1rem;
    font-weight: 500;
    cursor: pointer;
}

.buy-btn:hover{
    background: #222;
}

#close-cart{
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 1.8rem;
    color: #222;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

#close-cart:hover{
    cursor: pointer;
    color: #A0A1A0;
}

.main-text{
    text-align: center;
    font-family: 'Saira Condensed', sans-serif;
    font-weight: 300;
    font-size: 27px;
}

.product-container {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
    padding: 20px;
}

.product-container .card{
    width: 100%;
    background: #fff;
}

.product-container .card .img__box{
    position: relative;
    width: 100%;
    height: 310px;
    overflow: hidden;
}

.product-container .card .img__box img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s ease-in-out;
    transform-origin: right;
}

.product-container .card:hover .img__box img{
    transform: scale(1.5);
}

.product-container .card .content{
    padding: 10px;
}

.product-container .card .content .product-name h3{
    font-size: 20px;
    font-family: 'Saira Condensed', sans-serif;
    font-weight: 500;
    margin: 5px 0;
    color: #333;
}

.product-container .card .content .price h2{
    font-size: 23px;
    font-family: 'Saira Condensed', sans-serif;
    font-weight: 800;
    margin: 5px 0;
    color: #D2042D;
}

.action-button{
    position: absolute;
    top: 10px;
    right: 10px;
}

.action-button li{
    position: relative;
    list-style: none;
    width: 40px;
    height: 40px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4px;
    cursor: pointer;
    transform: translateX(60px);
    transition: transform 0.5s;
}

.product-container .card:hover .action-button li{
    transform: translateX(0px);
}

.action-button li:hover{
    background-color: #D2042D;
    color: #fff;
}

.action-button li span{
    position: absolute;
    right: 50px;
    top: 20px;
    transform: translateY(-50%) translateX(-20px);
    white-space: nowrap;
    padding: 4px 60px;
    background: #fff;
    color: #333;
    font-size: 20.5px;
    pointer-events: none;
    text-align: right;
    opacity: 0;
    transition: 0.5s;
}

.action-button li:hover span{
    opacity: 1;
    transform: translateY(-50%) translateX(0px);
}

.action-button li span::before{
    content: '';
    position: absolute;
    top: 50%;
    right: -4px;
    width: 8px;
    height: 8px;
    background: #fff;
    transform: translateY(-50%) rotate(45deg);
}

.action-button li:nth-child(2){
    transition-delay: 0.15s;
}
.action-button li:nth-child(3){
    transition-delay: 0.3s;
}

footer{
    background: #111;
    height: auto;
    width: 100%;
    font-family: 'Saira Condensed', sans-serif;
    padding-top: 40px;
    color: #fff;
}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3{
    font-size: 1.8rem;
    font-weight: 300;
    text-transform: capitalize;
    line-height: 3rem;
}

.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}

.social-media{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.social-media li{
    margin: 0 10px;
}

.social-media a{
    text-decoration: none;
    color: #fff;
}

.social-media a i{
    font-size: 1.1rem;
}

.social-media a:hover i{
    color: var(--lighGray);
}

.footer-bottom{
    background: #000;
    width: 100%;
    padding: 20px 0;
    text-align: center;
    font-weight: 100;
}

.footer-bottom{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize ;
}

.footer-bottom span{
    text-transform: uppercase;
    opacity: 0.4;
}

@media (max-width: 768px){
    body{
       /* background-color: red; */
        height: 200vh;
    }

    #main-header{
        background-color: white;
        flex-direction: column;
        /*padding: 20px 5%;*/
    }
    
    .logo{
        width: 110px;
        height: 40px;
        cursor: pointer;
    }
    
    .logo-footer{
        width: 180px;
        height: 90px;
        cursor: pointer;
    }
    
    .nav__links{
        list-style: none;
    }
    
    .nav__links li{
        display: inline-block;
        padding: 0px 20px;
    }
    
    .nav__links li a{
        transition: all 0.3s ease 0s;
    }
    
    .nav__links li a:hover{
        color: #A0A1A0;
    }
    .nav-toggle{
        color: #000;
        background: none;
        border: none;
        font-size: 30px;
        padding: 0 20px;
        line-height: 60px;
    
        display: none;
    }
}
